:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  --rpx: 100vw / 1440;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: calc(1440 * var(--rpx));
  height: calc(948 * var(--rpx));
  margin: 0 auto;
}

.div-filled {
  position: relative;
  width: calc(552 * var(--rpx));
  height: calc(740 * var(--rpx));
  margin: calc(120 * var(--rpx)) 0 0 calc(444 * var(--rpx));
  background: #ffffff;
  z-index: 1;
  overflow: hidden;
  border-radius: calc(30 * var(--rpx));
}

.jam-close {
  position: absolute;
  width: calc(40 * var(--rpx));
  height: calc(40 * var(--rpx));
  top: calc(16 * var(--rpx));
  left: calc(496 * var(--rpx));
  background: url(./assets/images/8585a5a0-923e-445d-ab0d-822d1edf084a.png) no-repeat center;
  background-size: cover;
  z-index: 3;
  overflow: hidden;
}

.flex-column-f {
  position: absolute;
  width: 88.41%;
  height: 91.35%;
  top: 4.32%;
  left: 5.8%;
  font-size: calc(0 * var(--rpx));
  z-index: 35;
}

.tax-deduction {
  display: block;
  position: relative;
  height: calc(40 * var(--rpx));
  margin: 0 0 0 0;
  color: #000000;
  font-family: Lab Grotesque, var(--default-font-family);
  font-size: calc(28 * var(--rpx));
  font-weight: 500;
  line-height: calc(40 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 2;
}

.tax-deduction-description {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: calc(488 * var(--rpx));
  height: calc(72 * var(--rpx));
  margin: calc(16 * var(--rpx)) 0 0 0;
  color: #808080;
  font-family: Lab Grotesque, var(--default-font-family);
  font-size: calc(14 * var(--rpx));
  font-weight: 400;
  line-height: calc(24 * var(--rpx));
  text-align: left;
  z-index: 12;
}

input::placeholder {
  transition: 0.5s; 
  color: #aaaaaa;
  display: block;
  position: relative;
  height: calc(24 * var(--rpx));
  font-family: Lab Grotesque, var(--default-font-family);
  font-size: calc(14 * var(--rpx));
  font-weight: 400;
  line-height: calc(24 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 15;
}
.monthly-salary {
  display: block;
  position: relative;
  height: calc(24 * var(--rpx));
  margin: calc(24 * var(--rpx)) 0 0 0;
  color: #000000;
  font-family: Lab Grotesque, var(--default-font-family);
  font-size: calc(14 * var(--rpx));
  font-weight: 500;
  line-height: calc(24 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 18;
}
.group-1 {
  position: relative;
  width: calc(488 * var(--rpx));
  height: calc(40 * var(--rpx));
  margin: calc(8 * var(--rpx)) 0 0 0;
  font-size: calc(0 * var(--rpx));
  z-index: 14;
  overflow: hidden;
  border-radius: calc(3 * var(--rpx));
}

.group-input {
  position: relative;
  width: calc(488 * var(--rpx));
  height: calc(40 * var(--rpx));
  top: 0;
  left: 0;
  margin-top: calc(8 * var(--rpx));
  background: transparent;
  border: calc(1 * var(--rpx)) solid #dfe3e6;
  z-index: 15;
  border-radius: calc(3 * var(--rpx));
  z-index: 17;
  outline: none;
}
.span-calculate {
  display: block;
  position: relative;
  height: calc(24 * var(--rpx));
  margin: calc(8 * var(--rpx)) 0 0 0;
  color: #ea0029;
  font-family: Lab Grotesque, var(--default-font-family);
  font-size: calc(14 * var(--rpx));
  font-weight: 500;
  line-height: calc(24 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 35;
}

.span-total {
  display: block;
  position: relative;
  height: calc(24 * var(--rpx));
  margin: calc(16 * var(--rpx)) 0 0 0;
  color: #000000;
  font-family: Lab Grotesque, var(--default-font-family);
  font-size: calc(14 * var(--rpx));
  font-weight: 500;
  line-height: calc(24 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 19;
}

.group-2 {
  position: relative;
  width: calc(192 * var(--rpx));
  height: calc(24 * var(--rpx));
  margin: calc(16 * var(--rpx)) 0 0 0;
  z-index: 20;
}

.year-amount {
  position: absolute;
  width: calc(161 * var(--rpx));
  height: calc(24 * var(--rpx));
  top: 0;
  left: calc(31 * var(--rpx));
  font-family: Lab Grotesque, var(--default-font-family);
  font-size: calc(14 * var(--rpx));
  font-weight: 400;
  line-height: calc(24 * var(--rpx));
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 21;
}

.span-amount {
  position: relative;
  color: #000000;
  font-family: Lab Grotesque, var(--default-font-family);
  font-size: calc(14 * var(--rpx));
  font-weight: 400;
  line-height: calc(24 * var(--rpx));
  text-align: left;
}


.span-year {
  position: relative;
  color: #808080;
  font-family: Lab Grotesque, var(--default-font-family);
  font-size: calc(14 * var(--rpx));
  font-weight: 400;
  line-height: calc(24 * var(--rpx));
  text-align: left;
}

.mdi-done {
  position: absolute;
  width: calc(20 * var(--rpx));
  height: calc(20 * var(--rpx));
  background:  no-repeat center;
  background-size: cover;
  z-index: 22;
  overflow: hidden;
}

.rectangle-3 {
  position: relative;
  width: calc(488 * var(--rpx));
  height: calc(1 * var(--rpx));
  margin: calc(16 * var(--rpx)) 0 0 0;
  background: #dfe3e6;
  z-index: 30;
}

.group-4 {
  position: relative;
  width: calc(201 * var(--rpx));
  height: calc(24 * var(--rpx));
  margin: calc(16 * var(--rpx)) 0 0 0;
  z-index: 23;
}

.rubles-in-year {
  position: absolute;
  width: calc(169 * var(--rpx));
  height: calc(24 * var(--rpx));
  top: 0;
  left: calc(32 * var(--rpx));
  font-family: Lab Grotesque, var(--default-font-family);
  font-size: calc(14 * var(--rpx));
  font-weight: 400;
  line-height: calc(24 * var(--rpx));
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 24;
}

.rubles {
  position: relative;
  color: #000000;
  font-family: Lab Grotesque, var(--default-font-family);
  font-size: calc(14 * var(--rpx));
  font-weight: 400;
  line-height: calc(24 * var(--rpx));
  text-align: left;
}

.in-2nd-year {
  position: relative;
  color: #808080;
  font-family: Lab Grotesque, var(--default-font-family);
  font-size: calc(14 * var(--rpx));
  font-weight: 400;
  line-height: calc(24 * var(--rpx));
  text-align: left;
}

.mdi-done-5 {
  position: absolute;
  width: calc(20 * var(--rpx));
  height: calc(20 * var(--rpx));
  background: url(./assets/images/613f84db-efb3-423f-8f46-b676edf021c9.png) no-repeat center;
  background-size: cover;
  z-index: 25;
  overflow: hidden;
}

.rectangle-6 {
  position: relative;
  width: calc(488 * var(--rpx));
  height: calc(1 * var(--rpx));
  margin: calc(16 * var(--rpx)) 0 0 0;
  background: #dfe3e6;
  z-index: 32;
}

.group-7 {
  position: relative;
  width: calc(193 * var(--rpx));
  height: calc(24 * var(--rpx));
  margin: calc(16 * var(--rpx)) 0 0 0;
  z-index: 26;
}

.rubles-in-year-8 {
  position: absolute;
  width: calc(161 * var(--rpx));
  height: calc(24 * var(--rpx));
  top: 0;
  left: calc(32 * var(--rpx));
  font-family: Lab Grotesque, var(--default-font-family);
  font-size: calc(14 * var(--rpx));
  font-weight: 400;
  line-height: calc(24 * var(--rpx));
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 27;
}

.rubles-9 {
  position: relative;
  color: #000000;
  font-family: Lab Grotesque, var(--default-font-family);
  font-size: calc(14 * var(--rpx));
  font-weight: 400;
  line-height: calc(24 * var(--rpx));
  text-align: left;
}

.third-year {
  position: relative;
  color: #808080;
  font-family: Lab Grotesque, var(--default-font-family);
  font-size: calc(14 * var(--rpx));
  font-weight: 400;
  line-height: calc(24 * var(--rpx));
  text-align: left;
}

.done {
  position: absolute;
  width: calc(20 * var(--rpx));
  height: calc(20 * var(--rpx));
  background: url(./assets/images/6d1ecc7a-7318-4f3e-b9aa-8b55f0ec66af.png) no-repeat center;
  background-size: cover;
  z-index: 28;
  overflow: hidden;
}

.rectangle-a {
  position: relative;
  width: calc(488 * var(--rpx));
  height: calc(1 * var(--rpx));
  margin: calc(16 * var(--rpx)) 0 0 0;
  background: #dfe3e6;
  z-index: 31;
}

.rectangle-b {
  position: relative;
  width: calc(488 * var(--rpx));
  height: calc(1 * var(--rpx));
  margin: calc(56 * var(--rpx)) 0 0 0;
  background: #dfe3e6;
  z-index: 33;
}

.group-c {
  position: relative;
  width: calc(290 * var(--rpx));
  height: calc(36 * var(--rpx));
  margin: calc(20 * var(--rpx)) 0 0 0;
  z-index: 4;
  border-radius: calc(50 * var(--rpx));
}

.tag {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: calc(12 * var(--rpx));
  position: absolute;
  width: calc(73 * var(--rpx));
  height: calc(36 * var(--rpx));
  top: 0;
  left: calc(144 * var(--rpx));
  padding: calc(6 * var(--rpx)) calc(12 * var(--rpx)) calc(6 * var(--rpx)) calc(12 * var(--rpx));
  cursor: pointer;
  background:  #eef0f2;
  border: none;
  z-index: 6;
  overflow: hidden;
  border-radius: calc(50 * var(--rpx));
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  color: #000000;
  font-family: Lab Grotesque, var(--default-font-family);
  font-size: calc(14 * var(--rpx));
  font-weight: 400;
  line-height: calc(24 * var(--rpx));
  text-align: center;
  white-space: nowrap;
}

.tag:hover{
  background: #bbbcbd;
  border-radius: calc(50 * var(--rpx));
}

.tag:active{
  background: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 7, 0) 108.93%),
    linear-gradient(0deg, #FF5E56, #FF5E56);
  width: calc(70 * var(--rpx));
  height: calc(33 * var(--rpx));
  margin: 0 calc(5 * var(--rpx)) calc(5 * var(--rpx)) 0;
  border-radius: calc(50 * var(--rpx));
}

.tag:focus{
  background: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 7, 0) 108.93%),
    linear-gradient(0deg, #FF5E56, #FF5E56);
  border-radius: calc(50 * var(--rpx));
  color: #ffffff;
}

.tag:focus:hover{
  background: linear-gradient(255.35deg, #9f2a2a 0.83%, rgba(255, 79, 7, 0) 108.93%),
    linear-gradient(0deg, #c23730, #f04a42);
  border-radius: calc(50 * var(--rpx));
  color: #ffffff;
}

.tag-d {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: calc(12 * var(--rpx));
  position: absolute;
  width: calc(57 * var(--rpx));
  height: calc(36 * var(--rpx));
  top: 0;
  left: calc(233 * var(--rpx));
  padding: calc(6 * var(--rpx)) calc(12 * var(--rpx)) calc(6 * var(--rpx)) calc(12 * var(--rpx));
  cursor: pointer;
  background: #eef0f2;
  border: none;
  z-index: 8;
  overflow: hidden;
  border-radius: calc(50 * var(--rpx));
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  color: #000000;
  font-family: Lab Grotesque, var(--default-font-family);
  font-size: calc(14 * var(--rpx));
  font-weight: 400;
  line-height: calc(24 * var(--rpx));
  text-align: center;
  white-space: nowrap;
}

.tag-d:hover{
  background: #bbbcbd;
  border-radius: calc(50 * var(--rpx));
}
.tag-d:active{
  background: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 7, 0) 108.93%),
    linear-gradient(0deg, #FF5E56, #FF5E56);
  width: calc(55 * var(--rpx));
  height: calc(33 * var(--rpx));
  margin: 0 calc(5 * var(--rpx)) calc(5 * var(--rpx))  0;
  border-radius: calc(50 * var(--rpx));
}

.tag-d:focus{
  background: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 7, 0) 108.93%),
    linear-gradient(0deg, #FF5E56, #FF5E56);
  border-radius: calc(50 * var(--rpx));
  color: #ffffff;
}

.tag-d:focus:hover{
  background: linear-gradient(255.35deg, #9f2a2a 0.83%, rgba(255, 79, 7, 0) 108.93%),
    linear-gradient(0deg, #c23730, #f04a42);
  border-radius: calc(50 * var(--rpx));
  color: #ffffff;
}

.decrease-what {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(24 * var(--rpx));
  top: calc(50% - calc(14 * var(--rpx)));
  left: 0;
  color: #000000;
  font-family: Lab Grotesque, var(--default-font-family);
  font-size: calc(14 * var(--rpx));
  font-weight: 500;
  line-height: calc(24 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 5;
}

.btn {
  position: relative;
  width: calc(488 * var(--rpx));
  height: calc(56 * var(--rpx));
  margin: calc(40 * var(--rpx)) 0 0 0;
  cursor: pointer;
  padding: calc(16 * var(--rpx)), 0, calc(16 * var(--rpx)), 0;
  gap: calc(10 * var(--rpx));
  background: linear-gradient(255225.35deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 108.93%),
    linear-gradient(0deg, #FF5E56, #FF5E56);
  border: none;
  z-index: 10;
  border-radius: calc(6 * var(--rpx));
  box-shadow: 0 0 calc(24 * var(--rpx)) 0 #ea002954;
  box-sizing: border-box;
  color: #ffffff;
  font-family: Lab Grotesque, var(--default-font-family);
  font-size: calc(16 * var(--rpx));
  font-weight: 500;
  line-height: calc(24 * var(--rpx));
  text-align: center;
  white-space: nowrap;
}

.btn:hover{
  background: linear-gradient(255.35deg, #9f2a2a 0.83%, rgba(255, 79, 7, 0) 108.93%),
    linear-gradient(0deg, #c23730, #f04a42);
  border-radius: calc(6 * var(--rpx));
}

.btn:focus{
  background: linear-gradient(255.35deg, #ed0d0d 0.83%, rgba(255, 79, 7, 0) 108.93%),
    linear-gradient(0deg, #f33228, #fa4a41);
  width: calc(488 * var(--rpx));
  height: calc(56 * var(--rpx));
  border-radius: calc(6 * var(--rpx));
}

.btn:active{
  background: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 7, 0) 108.93%),
    linear-gradient(0deg, #FF5E56, #FF5E56);
  width: calc(480 * var(--rpx));
  height: calc(50 * var(--rpx));
  margin: calc(44 * var(--rpx)) calc(20 * var(--rpx)) 0 0;
  border-radius: calc(6 * var(--rpx));
}
.year-amount-e {
  position: absolute;
  width: calc(164 * var(--rpx));
  height: calc(24 * var(--rpx));
  top: calc(483 * var(--rpx)); 
  left: calc(32 * var(--rpx));
  font-family: Lab Grotesque, var(--default-font-family);
  font-size: calc(14 * var(--rpx));
  font-weight: 400;
  line-height: calc(24 * var(--rpx));
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 29;
}

.amount {
  position: relative;
  color: #000000;
  font-family: Lab Grotesque, var(--default-font-family);
  font-size: calc(14 * var(--rpx));
  font-weight: 400;
  line-height: calc(24 * var(--rpx));
  text-align: left;
}

.year {
  position: relative;
  color: #808080;
  font-family: Lab Grotesque, var(--default-font-family);
  font-size: calc(14 * var(--rpx));
  font-weight: 400;
  line-height: calc(24 * var(--rpx));
  text-align: left;
}

.checkbox-normal {
  position: absolute;
  width: calc(20 * var(--rpx));
  height: calc(20 * var(--rpx));
  margin-top: calc(18 * var(--rpx));
  background: url(./assets/images/3431f129-754b-4483-8c79-596728f4e9d0.png) no-repeat center;
  background-size: cover;
  z-index: 34;
  overflow: hidden;
}

.rectangle-f {
  position: absolute;
  width: calc(1440 * var(--rpx));
  height: calc(948 * var(--rpx));
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}
